:root {
    --white: rgba(240, 248, 255, 0.8);
    --grey: rgb(233, 233, 233);
    --menu-width: 450px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    overflow: hidden;
}

body {
    background-image: url("./images/wallpaper/EXDR9RAi.jpeg");
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

button {
    transition: filter 0.2s;
}

button:hover, .menu-item:hover {
    filter: brightness(0.9);
}

.round-border {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.frame {
    height: 100%;
    width: calc(100vw + var(--menu-width));
    display: flex;
    transition: padding 1s;
}

.frame.show-menu {
    padding-right: var(--menu-width);
}

.shade {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.class-icon {
    height: 2em !important;
    width: 2em;
    background-color: black;
    padding: 4px;
}

.main {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5vh 5vw;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 4vh;
}

.options-row {
    flex-direction: row;
    gap: 10%;
}

.guess-table {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr 1fr 2fr 2fr 2fr;
    gap: 2px;
}

.main::-webkit-scrollbar {
    display: none;
}

.guess-slot {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: normal;
    pointer-events: auto;
}

.guess-slot.flip {
    filter: brightness(0);
    transform: rotateY(180deg);
}

.guess-slot.flip.start {
    animation: flip linear 0.5s forwards;
}

.guess-slot.correct {
    background-color: green;
}

.guess-slot.wrong {
    background-color: red;
}

.guess-slot.kinda {
    background-color: orange;
}

.tooltip-container {
    position: relative;
}

.tooltip:empty {
    visibility: hidden;
}

.tooltip {
    opacity: 0;
    position: absolute;
    padding: 5px 10px;
    background-color: var(--white);
    color: black;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 2;
    transition: bottom 0.2s;
    word-break: normal;
    pointer-events: none;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    bottom: 100%;
    pointer-events: all;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#guess-input {
    flex-shrink: 0;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    height: 2.4em;
    text-align: start;
    padding: 0 1%;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.icon-button img{
    height: 1.2em;
}

.suggestion-list.show {
    visibility: visible;
}

div:has(.suggestion-list) {
    position: relative;
}

.suggestion-list {
    visibility: hidden;
    background-color: var(--white);
    position: absolute;
    top: 105%;
    max-height: 50vh;
    overflow: auto;
    justify-content: start;
    z-index: 2;
}

.suggestion {
    color: black;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    height: 80px;
    padding: 5px;
}

.suggestion:hover, .suggestion.selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.suggestion img {
    aspect-ratio: 1;
    height: 100%;
}

.suggestion div {
    margin: auto 5%;
    font-size: 1.2em;
}

.operator-menu {
    width: var(--menu-width);
    height: 100%;
    flex-shrink: 0;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

.operator-tools {
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 1;
    padding: 16px;
    box-shadow: 0 0 10px black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.operator-tools div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.operator-tools label {
    user-select: none;
    display: block;
    width: 100%;
}

.operator-tools img {
    width: 24px;
}

#reverse-sort {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    transition: 0.1s;
}

.operator-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5vh;
    padding-top: 5vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.operator-container.reverse {
    flex-direction: column-reverse;
}

.operator-section:has(.operator-grid:empty) {
    display: none;
}

.operator-section-title {
    text-align: start;
    padding: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.operator-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 5px;
}

.menu-item {
    border: 1px solid;
    border-radius: 8px;
    background-color: var(--grey);
}

.menu-item.selected {
    border: 5px green solid;
}

.menu-item img {
    border-radius: 8px;
    width: 100%;
}

.operator-menu .excluded img {
    opacity: 0.3;
}

.suggestion.excluded {
    display: none;
}

#exclude-bar {
    position: absolute;
    bottom: -100%;
    width: inherit;
    background-color: inherit;
    padding: 16px;
    display: flex;
    justify-content: end;
    transition: bottom 0.2s;
    gap: 10%;
    box-shadow: 0 0 10px black;
}

.operator-menu.exclude-mode #exclude-bar {
    top: auto;
    bottom: 0;
}

.operator-menu.exclude-mode #batch-exclude {
    background-color: lime;
}

#batch-exclude-confirm {
    background-color: red;
    color: white;
}

#win {
    height: 0;
    display: flex;
    justify-content: end;
    background-color: lime;
    color: black;
    width: 100%;
    transition: 1s;
    padding: 0em;
    overflow: hidden;
    border-radius: 16px;
    flex-shrink: 0;
}

#win.show {
    padding: 0.5em;
    height: 80px;
}

#operator-sort {
    padding: 10px 5px;
}

#operator-details {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    transition: 0.2s;
    pointer-events: none;
}
#operator-details.show {
    opacity: 1;
    pointer-events: all ;
}

.floating-window {
    width: 50%;
    height: 80%;
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px;
}

#operator-details-grid {
    display: grid;
    grid-template-columns: max-content 2fr 1fr max-content;
    grid-template-rows: repeat(9, 1fr);
    column-gap: 5px;
}

#operator-details-grid > div {
    display: flex;
    align-items: center;
    justify-content: start;
}

#operator-details-grid > div:last-child {
    grid-column: 1 / span 4;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

#operator-details .class-icon {
    margin-right: 5px;
}

#operator-details-icon {
    grid-row: 1 / span 7;
    grid-column: 3;
    width: 100%;
    max-width: 180px;
    height: fit-content;
    aspect-ratio: 1;
    border: 1px black solid;
}   

#details-list {
    flex-shrink: 0;
    width: 70%;
    height: 100%;
}

#details-list img {
    height: 2em;
    width: 2em;
    display: inline;
    background-color: black;
    padding: 4px;
}

#part-of {
    display: none;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

#part-of.show {
    display: flex;
}

div:has(> #operator-details-faction) {
    grid-column: 2 / span 2;
}

#close-details {
    width: 24px;
    grid-row: 1 / span 8;
    grid-column: 4;
    margin: 8px;
}

#in-or-exclude, #guess {
    height: 90%;
    aspect-ratio: 2;
    border-width: 3px;
    border-radius: 16px;
}

#guess, #in-or-exclude.include {
    background-color: rgb(101, 255, 101);
    color: black;
}

#in-or-exclude {
    background-color: rgb(255, 48, 48);
    color: white;
}

#in-or-exclude:hover, #guess:hover {
    filter: brightness(0.8);
}

#settings-menu-shade {
    display: none;
    position: absolute;
    top: 0;
    z-index: 3;
    user-select: none;
}

#settings-menu-shade.show {
    display: flex;
}

#settings-menu {
    display: flex;
    justify-content: start;
    gap: 10%;
    overflow: auto;
    scrollbar-width: none;
}

#settings-menu > div {
    width: 100%;
}

#settings-menu > div > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

#settings-menu hr {
    margin: 5px 0;
    border-color: black;
}

.rarity-button {
    margin: auto;
}

.settings-toggle {
    background-color: lime;
    transition: all 0.2s;
}

.settings-toggle.excluded {
    background-color: var(--grey);
}

.settings-grid {
    display: grid;  
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: space-around;
    gap: 2%;
    row-gap: 1em;
}

.settings-grid .icon-button {
    aspect-ratio: 3;
    justify-content: start;
}
#settings-faction-grid span {
    flex-grow: 1;
}

#settings-faction-grid img {
    height: 100%;
    width: auto;
}

#settings-faction-grid .class-icon {
    padding: 0;
}

#settings-menu > div:last-child {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1 1 max-content;
    width: 100%;
    gap: 10%;
}

@media screen and (max-width: 1000px) {
    :root {
        --menu-width: 300px;
    }

    .operator-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 800px) {

    .frame {
        width: 100vw;
    }

    .frame.show-menu {
        padding-right: 0px;
    }

    .operator-menu {
        position: absolute;
        left: 100%;
        width: 100%;
        transition: 0.5s;
    }

    .frame.show-menu .operator-menu {
        left: 0;
    }

    .guess-table {
        font-size: 8px;
    }

    
    .floating-window {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@keyframes flip {
    49% {
        filter: brightness(0);
    }

    50% {
        filter: brightness(1);
    }
    
    100% {
        transform: rotateY(0deg);
        filter: brightness(1);
    }
}